section {
    background-color: grey;

    h1 {
        font-size: 60px;
        &:hover {
            color:green;
        }
        
    }

    p {
        font-style: italic;
        span{
            color: red;
        }
    }
}

// create variables

@mixin main-background($padding: 20px, $font-size: 30px) {
    padding: $padding;
    text-align: center;
    font-size: $font-size;
}

header {
    @include main-background( 30px, 10px);
}